<div class="d-flex div-menu flex-column flex-shrink-0 p-3 text-white bg-dark">
    <a routerLink="." class="titulonav" >EASTVIEW</a>
  
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
  
    </a>
    <hr>
  
    <ul class="nav nav-pills flex-column mb-auto">
      <li  class="nav-item">
        <a routerLink="elojo" routerLinkActive="active" class="nav-link text-white" aria-current="page">
            <i class="bi bi-eye"></i>
          EL OJO
        </a>
        <li  class="nav-item">
            <a routerLink="labruja" routerLinkActive="active" class="nav-link text-white" aria-current="page">
                <i class="bi bi-magic"></i>
              La Bruja Miranda
            </a>
      
  
    
    </ul>
    
    <hr>
   
  </div>