
<div class="main-container">
  <div class="sidebar">
    <!-- Contenido del sidebar -->
    <app-menu></app-menu>
  </div>

  <div class="content">
    <!-- Contenido principal -->
    <div class="welcome"  *ngIf="showWelcomeMessage" >
      <!-- Tu contenido de bienvenida -->
      <div class="row">
        <div class="mainwelcome col-md-12">
          <h2>Bienvenidos, El Ojo y Miranda</h2>
          <p>Como administradores supremos de nuestro querido pueblo, esta aplicación les permite controlar las mentes y las tareas de nuestros ciudadanos.</p>
          <p>Aquí podrán registrar a los leales habitantes de Eastview y programar las tareas diarias para cada uno de ellos, asegurando que el orden y la normalidad prevalezcan en nuestro reino.</p>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>